<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_history.company %>
</p>

<p>
  <strong>Short:</strong>
  <%= @company_history.short %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company_history.name %>
</p>

<p>
  <strong>Address city:</strong>
  <%= @company_history.address_city %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @company_history.address_street %>
</p>

<p>
  <strong>Address house:</strong>
  <%= @company_history.address_house %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @company_history.address_number %>
</p>

<p>
  <strong>Address postal code:</strong>
  <%= @company_history.address_postal_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company_history.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company_history.email %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @company_history.nip %>
</p>

<p>
  <strong>Regon:</strong>
  <%= @company_history.regon %>
</p>

<p>
  <strong>Pesel:</strong>
  <%= @company_history.pesel %>
</p>

<p>
  <strong>Informal group:</strong>
  <%= @company_history.informal_group %>
</p>

<p>
  <strong>Note:</strong>
  <%= @company_history.note %>
</p>

<p>
  <strong>User:</strong>
  <%= @company_history.user_id %>
</p>

