<br>

<ol class="breadcrumb">
  <li><%= link_to @rotation.insurance.company.fullname, company_path(@rotation.insurance.company_id), 
                      :"data-toggle" => "popover_info",
                      :"title" => "#{@rotation.insurance.company.short}",
                      :"data-content" => "#{@rotation.insurance.company.for_popover_data}",
                      :"data-placement" => "bottom" %></a></li>
  <li><%= link_to @rotation.insurance.fullname, insurance_path(@rotation.insurance_id), 
                      :"data-toggle" => "popover_info",
                      :"title" => "#{@rotation.insurance.number}",
                      :"data-content" => "#{@rotation.insurance.for_popover_data}",
                      :"data-placement" => "bottom" %></a></li>
  <li class="active"><%= t(' New Rotation', default: t("pages.rotation_new")) %></li>
</ol> <!-- /breadcrumb -->

<!-- Dane -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-rotation">
      <div class="panel-heading">
        <div class="panel-title">
	        <span class="glyphicon glyphicon-retweet"><%= t(' New Rotation for', default: t("pages.rotation_new_for", data: @insurance.fullname)) %></span>  
        </div>
      </div>
        <div class="panel-body">
          <div class="col-sm-1">
	        	<h1><span class="glyphicon glyphicon-plus"></span></h1> 
          </div> <!--/col-sm-1-->

          <div class="col-sm-11">
            <% if duplicate_rotation.nil? %>
              <%= render 'form' %>
            <% else %>
              <%= render 'form', duplicate_rotation: duplicate_rotation %><!--param from controller-->
            <% end %>
          </div> <!--/col-sm-11 col-sm-offset-1-->
    
        </div>
    </div> <!-- /panel -->
  </div> <!-- /col-sm-12-->
</div> <!-- /row -->

