<%= form_for [@insurance], :html => { :role => 'form insurance' } do |f| %>

  <% input_disabled ||= false  
     #if input_disabled is not passed to the partial it doesn't crash. 
     # We default it to false 
  %>

  <% if @insurance.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @insurance.errors.full_messages.each do |msg| %>
          <li><h5><%= msg %></h5></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">

        <div class="form-group col-sm-2">
          <%= f.label :number, class: 'control-label' %>
          <h5><%= @insurance.number %></h5>
        </div>

        <div class="control-group col-sm-10">
          <%= f.label :company_id, class: "control-label" %><br>
          <h5><%= link_to @insurance.company.fullname, company_path(@insurance.company), 
                      :"data-toggle" => "popover_info",
                      :"title" => "#{@insurance.company.short}",
                      :"data-content" => "#{@insurance.company.for_popover_data}",
                      :"data-placement" => "right" %></h5>
        </div>

      </div>  <!-- /row -->
    </div>  <!-- /col-sm-12 -->
  </div>  <!-- /row -->

  <hr>

  <div class="row">
    <div class="col-sm-6">

      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :concluded, class: 'control-label' %>
          <h5><%= @insurance.concluded %></h5>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :valid_from, class: 'control-label' %>
          <h5><%= @insurance.valid_from %></h5>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :applies_to, class: 'control-label' %>
          <h5><%= @insurance.applies_to %></h5>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-7">

          <br><%= f.label :pay, class: "control-label" %><br>
          <%= f.radio_button(:pay, 'K', disabled: input_disabled) %>
          <%= f.label(:pay_k, 'Kwartalna') %>
          <%= f.radio_button(:pay, 'M', disabled: input_disabled) %>
          <%= f.label(:pay_m, 'Miesięczna') %>
          <%= f.radio_button(:pay, 'P', disabled: input_disabled) %>
          <%= f.label(:pay_p, 'Półroczna') %>
          <%= f.radio_button(:pay, 'R', disabled: input_disabled) %>
          <%= f.label(:pay_r, 'Roczna') %>
        </div>

        <div class="form-group col-sm-4">
          <br><%= f.label :discounts_lock, class: "control-label" %><br>
          <%= f.radio_button(:discounts_lock, false, disabled: input_disabled) %>
          <%= f.label(:discounts_lock_f, "Nie" ) %>
          <%= f.radio_button(:discounts_lock, true, disabled: input_disabled) %>
          <%= f.label(:discounts_lock_t, "Tak" ) %>
        </div>

      </div>


    </div> <!-- /col-sm-6 -->

    <div class="col-sm-6">

      <div class="form-group">
        <%= f.label :note, class: 'control-label' %>
          <h5><%= @insurance.note %></h5>
      </div>

    </div> <!-- /col-sm-6 -->
  </div> <!-- /row -->

  <hr>


  <% if input_disabled %>
    <!-- for "Show" -->
   <%= link_to t('Delete', default: t("helpers.links.destroy")), insurance_path(@insurance),
                        method: :delete,
                        data: { confirm: t('helpers.links.confirm_destroy', data: @insurance.fullname) }, 
                        :class => "btn btn-danger glyphicon glyphicon-trash" %>
    <%= link_to t('Edit', default: t("helpers.links.edit")), edit_insurance_path(@insurance), 
                        :class => "btn btn-primary glyphicon glyphicon-edit" %>  
  <% else %>
    <!-- form "New"/"Edit" -->
    <%= link_to t('Back', default: t("helpers.links.back")), :back, :class => 'btn btn-default' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  <% end %>
  
<% end %>
