<br>

<ol class="breadcrumb">
  <li><%= link_to @insurance.company.short, company_path(@insurance.company_id), 
                      :"data-toggle" => "popover_info",
                      :"title" => "#{@insurance.company.short}",
                      :"data-content" => "#{@insurance.company.for_popover_data}",
                      :"data-placement" => "bottom" %></a></li>
  <li class="active"><%= @insurance.number %></li>
</ol> <!-- /breadcrumb -->

<div class="panel-group" id="myaccordion">

  <!-- Dane -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-insurance">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_data" >
              <span class="glyphicon glyphicon-file">  <%= @insurance.fullname %></span>    
              <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
            </a>
          </div>
        </div>
        <div id="collapse_data" class="panel-collapse collapse in"> <!-- id="collapse_data" -->
          <div class="panel-body">
            <div class="col-sm-11 col-sm-offset-1">

              <%= render 'form_show', input_disabled: true %>

            </div> <!--/col-sm-11 col-sm-offset-1-->    
          </div>
        </div> <!-- /id="collapse_data" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-12-->
  </div> <!-- /row -->


  <!-- Grupy -->
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="panel panel-group">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_groups" >
              <span class="glyphicon glyphicon-th-large"> Grupy ubezpieczeniowe</span>    
              <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
            </a>
          </div>
        </div>
        <div id="collapse_groups" class="panel-collapse collapse"> <!-- id="collapse_groups" -->
          <div class="panel-body">
            <div class="col-sm-12">

              <%= render 'insurances/groups' %>

            </div> <!--/class="col-sm-12" -->
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_groups" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-11 col-sm-offset-1 -->
  </div> <!-- /row -->


  <!-- Rotacje -->
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="panel panel-rotation">
        <div class="panel-heading">
          <div class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_rotations" >
              <span class="glyphicon glyphicon-retweet"> Rotacje</span>    
              <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
            </a>
          </div>
        </div>
        <div id="collapse_rotations" class="panel-collapse collapse"> <!-- id="collapse_rotations" -->
          <div class="panel-body">
            <div class="col-sm-12">

              <%= render 'insurances/rotations' %>

            </div> <!--/class="col-sm-12" -->
          </div> <!-- /panel-body -->
        </div> <!-- /id="collapse_rotations" -->
      </div> <!-- /panel -->
    </div> <!-- /col-sm-11 col-sm-offset-1 -->
  </div> <!-- /row -->


  <!-- Wydruki -->
  <% if @insurance.coverages.present? %>
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="panel panel-scan-and-print">
          <div class="panel-heading">
            <div class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_scan_and_print" >
                <span class="glyphicon glyphicon-print"> Wydruki</span>    
                <i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i>
              </a>
            </div>
          </div>
          <div id="collapse_scan_and_print" class="panel-collapse collapse"> <!-- id="collapse_scan_and_print" -->
            <div class="panel-body">
              <div class="col-sm-12">

                <%= render 'scan_and_print' %>

              </div> <!--/class="col-sm-12" -->
            </div> <!-- /panel-body -->
          </div> <!-- /id="collapse_scan_and_print" -->
        </div> <!-- /panel -->
      </div> <!-- /col-sm-11 col-sm-offset-1 -->
    </div> <!-- /row -->
  <% end %>  


</div> <!-- /class="panel-group" id="myaccordion" -->
