<%= form_for [@event], :html => { :role => 'form event' } do |f| %>

  <% input_disabled ||= false  
     #if input_disabled is not passed to the partial it doesn't crash. 
     # We default it to false 
  %>

  <% if @event.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><h5><%= msg %></h5></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">

        <div class="form-group col-sm-8">
          <%= f.label :title, class: 'control-label' %>
          <h5><%= @event.title %></h5>
        </div>
        <div class="form-group col-sm-4">
          <br><%= f.label :allday, class: "control-label" %><br>
          <%= f.radio_button(:allday, false, disabled: input_disabled) %>
          <%= f.label(:allday_false, "Nie" ) %>
          <%= f.radio_button(:allday, true, disabled: input_disabled) %>
          <%= f.label(:allday_true, "Tak" ) %>
        </div>
      </div>  <!-- /row -->

      <hr>
    </div>  <!-- /col-sm-12 -->
  </div>  <!-- /row -->

  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="form-group col-sm-3">
          <%= f.label :start_date, class: 'control-label' %>
          <h5><%= @event.start_date %></h5>
        </div>

        <div class="form-group col-sm-3">
          <%= f.label :end_date, class: 'control-label' %>
          <h5><%= @event.end_date %></h5>
        </div>
      </div>

      <% if user_signed_in? && current_user.id == 1 %>
        <div class="row">
          <div class="form-group col-sm-8">
            <%= f.label :url_action, class: 'control-label' %>
            <h5><%= @event.url_action %></h5>
          </div>
          <div class="form-group col-sm-4">
            <%= f.label :color, class: 'control-label' %>
            <h5><%= @event.color %></h5>
          </div>         
        </div>         
      <% end %>

    </div>  <!-- /col-sm-12 -->

  </div> <!-- /row -->

  <hr>


  <% if input_disabled %>
    <!-- for "Show" -->
    <%= link_to t('Back', default: t("helpers.links.back")), :back, :class => 'btn btn-default' %>
    <% if user_signed_in? %>
      <%= link_to t('Delete', default: t("helpers.links.destroy")), event_path(@event),
                          method: :delete,
                          data: { confirm: t('helpers.links.confirm_destroy', data: @event.title) }, 
                          :class => "btn btn-danger glyphicon glyphicon-trash" %>
      <%= link_to t('Edit', default: t("helpers.links.edit")), edit_event_path(@event), 
                          :class => "btn btn-primary glyphicon glyphicon-edit" %>  
    <% end %>
  <% else %>
    <!-- form "New"/"Edit" -->
    <%= link_to t('Back', default: t("helpers.links.back")), :back, :class => 'btn btn-default' %>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  <% end %>
  
<% end %>
