<%= form_for [documentable, Document.new] do |f| %>

  <div class="form-group col-sm-12">

    <%= f.label :fileattach, class: 'control-label' %><br>
    <%= f.attachment_field :fileattach, direct: true, class: 'form-control input-sm' %>

    <br>
    <p><%=t "help_block_text.document.or_input_remote_url"%></p>
 
    <%= f.label :remote_fileattach_url, class: 'control-label' %><br>
    <%= f.text_field :remote_fileattach_url, class: 'form-control input-sm' %>

  </div>

  <%= f.submit nil, class: 'btn btn-primary pull-right' %>

<% end %>