<div class="col-sm-12">


  <div class="row">  <!--dla Agenta -->
    <div class="col-sm-2">
      <p class="lead">dla Agenta</p>
    </div><!-- /.col-sm-2 -->

    <div class="col-sm-2">
      <%= link_to image_tag("list_insureds_nnw2.png", :class => "img-thumbnail" ), 
            pdf_list_insureds_family_family_rotation_path(@family, @family_rotation, :format => "pdf"), 
            :target => "_blank" %>  

      <h5>Lista ubezpieczonych</h5>
      <h5><span class="text-muted"><%= "- rotacja #{@family_rotation.rotation_date.strftime("%d.%m.%Y")}" %></span></h5>
    </div><!-- /.col-sm-2 -->

  </div class="row">  <!--/dla Agenta -->



  <hr>

  <div class="row">  <!--dla Firmy -->
    <div class="col-sm-2">
      <p class="lead">dla Firmy</p>
    </div><!-- /.col-sm-2 -->

    <div class="col-sm-2">
      <%= link_to image_tag("list_payers.png", :class => "img-thumbnail" ), 
            pdf_list_payers_family_family_rotation_path(@family, @family_rotation, :format => "pdf"), 
            :target => "_blank" %>  

      <h5>Lista płatników</h5>
      <h5><span class="text-muted"><%= "- rotacja #{@family_rotation.rotation_date.strftime("%d.%m.%Y")}" %></span></h5>
    </div><!-- /.col-sm-2 -->

    <div class="col-sm-2">
      <%= link_to image_tag("declarations_payers.png", :class => "img-thumbnail" ), 
            pdf_declarations_payers_family_family_rotation_path(@family, @family_rotation, :format => "pdf"), 
            :target => "_blank" %>  

      <h5>Oświadczenia płatników o potrącaniu składki</h5>
      <h5><span class="text-muted"><%= "- rotacja #{@family_rotation.rotation_date.strftime("%d.%m.%Y")}" %></span></h5>
    </div><!-- /.col-sm-2 -->
  </div class="row">  <!--/dla Firmy -->





</div> <!--/col-sm-12 -->
