<%= form_for(@coverage) do |f| %>
  <% if @coverage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coverage.errors.count, "error") %> prohibited this coverage from being saved:</h2>

      <ul>
      <% @coverage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rotation_id %><br>
    <%= f.text_field :rotation_id %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :insured_id %><br>
    <%= f.text_field :insured_id %>
  </div>
  <div class="field">
    <%= f.label :payer_id %><br>
    <%= f.text_field :payer_id %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>

  <div>
    <%= f.hidden_field :insured_id, 
                      class: "form-control individual_select", 
                      placeholder: "placeholder text",
                      style: "width:400px" %>
  </div>

<br>
<br>

    <input type ="hidden" class="form-control individual_select" style="width:350px" placeholder="Aaaaa"</input>


<br>
<br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
